In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.3

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)),
                columns=cols)
df

   A  B  C  D  E
0  1  5  8  7  1
1  7  5  5  9  1
2  5  2  6  5  5
3  5  1  5  5  2
4  1  2  3  9  9
5  6  2  7  2  9
6  6  6  6  8  1
7  9  7  7  8  4
8  2  5  7  3  3
9  2  3  2  2  1

In [3]:
(df['A'] < 5).sum()

np.int64(4)

In [4]:
(df['A'] < 5).mean()

np.float64(0.4)